@import './tailwind.css';
@font-face {
  font-family: 'Gilroy';
  src:
    url('/fonts/Gilroy-Regular.ttf') format('truetype'),
    url('/fonts/Gilroy-Bold.ttf') format('truetype'),
    url('/fonts/Gilroy-Light.ttf') format('truetype'),
    url('/fonts/Gilroy-Meduim.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Benzin-Bold';
  src:
    url('/fonts/Benzin-Bold.woff2') format('woff2'),
    url('/fonts/Benzin-Bold.woff') format('woff'),
    url('/fonts/Benzin-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Gilroy', 'Benzin', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
